
<header class="header_contenedor">

    <ol class="header">
        <li><a [routerLink]="['./Inicio']" id="link-menu">Inicio</a></li>
        <li><a [routerLink]="['./Destacados']" id="link-menu">Jugadores destacados</a></li>
        <li><a [routerLink]="['./Inolvidables']" id="link-menu">Plantel actual</a></li>
        <li><a [routerLink]="['./Camisetas']" id="link-menu">Camisetas</a></li>
    </ol>
</header>
<section id="content">

    <router-outlet></router-outlet>
</section>


<footer> <p>MillonariosBlog es un tributo a jugadores destacados que enorgullecen la institución.</p> </footer>