


<section class="contenedor">

    <div class="albunjugadores">

        <div class="albunjugadores__jugador j1" name="jugadores"></div>
        <div class="albunjugadores__jugador j2" name="jugadores"></div>
        <div class="albunjugadores__jugador j3" name="jugadores"></div>
        <div class="albunjugadores__jugador j4" name="jugadores"></div>
        <div class="albunjugadores__jugador j5" name="jugadores"></div>
        <div class="albunjugadores__jugador j6" name="jugadores"></div>
        <div class="albunjugadores__jugador j7" name="jugadores"></div>
        <div class="albunjugadores__jugador j8" name="jugadores"></div>
        <div class="albunjugadores__jugador j9" name="jugadores"></div>
        <div class="albunjugadores__jugador j10" name="jugadores"></div>
        <div class="albunjugadores__jugador j11" name="jugadores"></div>
        <div class="albunjugadores__jugador j12" name="jugadores"></div>
        <div class="albunjugadores__jugador j13" name="jugadores"></div>
        <div class="albunjugadores__jugador j14" name="jugadores"></div>
        <div class="albunjugadores__jugador j15" name="jugadores"></div>
        <div class="albunjugadores__jugador j16" name="jugadores"></div>
        <div class="albunjugadores__jugador j17" name="jugadores"></div>
        <div class="albunjugadores__jugador j18" name="jugadores"></div>
        <div class="albunjugadores__jugador j19" name="jugadores"></div>
        <div class="albunjugadores__jugador j20" name="jugadores"></div>
        <div class="albunjugadores__jugador j21" name="jugadores"></div>
        <div class="albunjugadores__jugador j22" name="jugadores"></div>
        <div class="albunjugadores__jugador j23" name="jugadores"></div>
        <div class="albunjugadores__jugador j24" name="jugadores"></div>
        <div class="albunjugadores__jugador j26" name="jugadores"></div>

    </div>




</section>

